[DEFAULT]
image_path = "{{ undercloud_image_path }}"
#undercloud_hostname = <None>
local_ip = "{{ undercloud_local_ip }}"
network_gateway = "{{ undercloud_network_gateway }}"
undercloud_public_vip = "{{ undercloud_public_vip }}"
undercloud_admin_vip = "{{ undercloud_admin_vip }}"
undercloud_service_certificate = "{{ undercloud_service_certificate }}"
certificate_generation_ca = "{{ undercloud_certificate_generation_ca }}"
service_principal = "{{ undercloud_service_principal }}"
local_interface = "{{ undercloud_local_interface }}"
local_mtu = "{{ undercloud_local_mtu }}"
network_cidr = "{{ undercloud_network_cidr }}"
masquerade_network = "{{ undercloud_masquerade_network }}"
dhcp_start = "{{ undercloud_dhcp_start }}"
dhcp_end = "{{ undercloud_dhcp_end }}"
hieradata_override = "{{ undercloud_hieradata_override }}"
#net_config_override = <None>
inspection_interface = "{{ undercloud_inspection_interface }}"
inspection_iprange = "{{ undercloud_inspection_iprange }}"
inspection_extras = "{{ undercloud_inspection_extras }}"
inspection_runbench = "{{ undercloud_inspection_runbench }}"
inspection_enable_uefi = "{{ undercloud_enable_uefi }}"
undercloud_debug = "{{ undercloud_debug }}"
enable_tempest = "{{ undercloud_enable_tempest }}"
enable_mistral = "{{ undercloud_enable_mistral }}"
enable_zaqar = "{{ undercloud_enable_zaqar }}"
enable_telemetry = "{{ undercloud_enable_telemetry }}"
enable_ui = "{{ undercloud_enable_ui }}"
enable_validations = "{{ undercloud_enable_validations }}"
ipxe_enabled = "{{ undercloud_ipxe_enabled }}"
store_events = "{{ undercloud_store_events }}"
scheduler_max_attempts = "{{ undercloud_scheduler_max_attempts }}"
clean_nodes = "{{ undercloud_clean_nodes }}"

[auth]
#undercloud_db_password = <None>
#undercloud_admin_token = <None>
#undercloud_admin_password = <None>
#undercloud_glance_password = <None>
#undercloud_heat_encryption_key = <None>
#undercloud_heat_password = <None>
#undercloud_neutron_password = <None>
#undercloud_nova_password = <None>
#undercloud_ironic_password = <None>
#undercloud_aodh_password = <None>
#undercloud_ceilometer_password = <None>
#undercloud_ceilometer_metering_secret = <None>
#undercloud_ceilometer_snmpd_user = ro_snmp_user
#undercloud_ceilometer_snmpd_password = <None>
#undercloud_swift_password = <None>
#undercloud_mistral_password = <None>
#undercloud_rabbit_cookie = <None>
#undercloud_rabbit_password = <None>
#undercloud_rabbit_username = <None>
#undercloud_heat_stack_domain_admin_password = <None>
#undercloud_swift_hash_suffix = <None>
#undercloud_sensu_password = <None>
#undercloud_haproxy_stats_password = <None>
#undercloud_zaqar_password = <None>
#undercloud_horizon_secret_key = <None>
